<!DOCTYPE html>
<html>
    <head>
        <link href="~/css/style.css" rel="stylesheet">
        <title>@ViewBag.title</title>
    </head>
    <body>
        Viewing the mobile site
        <hr/>
        
        @RenderBody()
    </body>
</html>