@model Student

Edit Student:

<hr/>

<form asp-controller="Student" asp-action="Upsert">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name"/>
    </div>

    <div>
        <label asp-for="IKnowCSharp"></label>
        <input asp-for="IKnowCSharp"/>
    </div>

    <input asp-for="StudentId" type="hidden"/>
    
    <button type="submit">Update</button>
</form>
