@model Student
<div class="student">
    <p> Name: <a href="/students/@(Model.StudentId)/edit">@Model.Name</a> </p>
    <p> Knows C#: @Model.IKnowCSharp </p>
    <p> Delete? 
        <form 
            method="post"
            action="/students/delete/@(Model.StudentId)">
                <button type="submit">[x]</button>
        </form>
    </p>
</div>